


body{

 /* background: linear-gradient(180deg,    #0050C4, #0079DC,#009DDE,#00C0D0,#00DFBB ); */
 background: linear-gradient(180deg,    #00DFBB, #00C7D0,#00ADD9,#0090D0,#4B71B7 );
 webkit-background-clip: text;
 webkit-text-fill-color: transparent;

}
a{

  color:#000000;
  text-decoration: none;
  
}
h1{

  font-family: 'Mitr', sans-serif;
  font-size: 7rem;
  line-height: 1.5;
}

.container-fluid{
  padding: 4% 10% 2% ;
}
.container-fluid1{
  padding: 1% 15% ;
}
#features{

    text-align: center;

}
h2{
  font-family: 'Sriracha', cursive;
  font-size: 2.5rem;
  line-height: 1.5;
}
p1{
  font-size: 1.5rem;
  line-height: 1.5;
}
p{
  margin-top:20px;
  line-height: 1.5;
  margin-bottom: 0px;
  padding-left : 100px

}

#testimonials{

  padding-left: 100px;

}

#press{


  padding-left: 100px;

}
#pricing{


  padding-left: 100px;


}
.a{
padding-bottom: 20px;
}

.tb1{

    margin-bottom: 20px;

}
.tb2{
  margin-left: 150px;

}
h3{
  font-family: 'Sriracha', cursive;
  font-size: 1.5rem;
  line-height: 1.5;
}
.bt1{
  text-align: center;
}
